

$colors: (
 blue: #1176bc,
 darkBlue: #00549c,
 lightGrey: #b4b4b4,
 white: #fff,
 blueLight: #2777BC,

    fontBlack: #202428,
    fontWhite: #fff,
    fontPurple: #413aa4,
    fontBlue: #156eb6,

    lighterGray: #f5f7fc,
    darkGray: #5a6671,

    green :#06b590

);


