
@mixin transform($property) {
    -webkit-transform: $property;
    -ms-transform: $property;
    transform: $property;
}

@mixin defaultPadding() {
    padding-left: 15px;
    padding-right: 15px;
}

@mixin defaultMargin() {
    margin-left: 15px;
    margin-right: 15px;
}

.box {
    @include transform(rotate(30deg)); 
} // how to use
