#contact-us-form {
    .form-group {
        .form-control {
                border: 0 none;
                border-bottom: 1px solid #e4e8ed;
                border-radius: 0;
                padding-left: 0;
        }
    }
}