.dropdown-item > img {
    width: 33px;
}

.btn-arrow.btn-icon.icon-left > img {
    width: 115px;
}

.btn-arrow.btn-icon.icon-left > img {
    width: 115px;
}

.navbar-brand.order-sm-1.order-1 > img {
    width: 115px;
    height: 84px;
}

.dropdown-item > img {
    width: 33px;
}

#uae-office > img {
    padding-top: 11px;
}

#mauritius-office > img {
    padding-top: 11px;
}

#uae-description > img {
    float: left;
    padding: 6px 10px 0px 0px;
}

#cyprus-description > img {
    height: 21px;
    float: left;
    padding: 6px 10px 0px 0px;
}

#mauritius-description > img {
    float: left;
    padding: 6px 10px 0px 0px;
}

.col-lg-12 > div {
    text-align: left;
}

.close > span {
    color: white;
}

#loader_form {
}

#dropdownMenuButton1 {
}

#navbarSupportedContent2 {
    padding-right: 195px;
}

#dropdownMenuButton1 {
}

#langDrpMenu {
}

#ctabutton {
}

#ctabutton {
}

#ctabutton {
    background: linear-gradient(to right,#06b590, #00ffbb);
}

#Txt_Subscribe_Email {
}

#cyprus-office {
    cursor: pointer;
}

#uae-office {
    cursor: pointer;
}

#mauritius-office {
    cursor: pointer;
}

#uae-description {
    display: none;
}

#cyprus-description {
}

#mauritius-description {
    display: none;
}

#success {
}

#Msg {
}

#error {
}

#modalCallback {
}

#modal-centerLabel {
    color: white;
}

#frmCallBackRequest {
}

#txt_Callback_Name {
}

#txt_Callback_Email {
}

#txt_Callback_PhoneNo {
}

#Drp_Callback_Country {
}

.header.header--2 {
}

.top_bar.top--bar2.d-flex.align-items-center.bg-primary {
    background: linear-gradient(to right,#00549c,#00549c);
}

.container {
}

.row {
}

.col-md-12 {
}

.d-flex.topbar_content.justify-content-between {
}

.top_bar--lang.align-self-center.order-2 {
}

.dropdown {
}

.lang {
}

.lang_flag {
    width: 33px;
}

.la.la-angle-down {
}

.dropdown-menu {
}

.dropdown-item {
}

.top_bar--social {
}

.btn-arrow.btn-icon.icon-left {
}

.menu_area.menu1 {
}

.navbar.navbar-expand-lg.navbar-light.bg-light.px-0 {
}

.navbar-brand.order-sm-1.order-1 {
}

.navbar-toggler {
}

.la.la-bars {
}

.navbar-nav.m-auto {
}

.nav-item.dropdown {
}

.top_bar--lang.align-self-center.order-2.abc {
}

.nav-item.active {
}

.nav-link {
}

.sr-only {
}

.nav-link.dropdown-toggle {
}

.site-header-main-right.d-flex.justify-content-end.align-items-center {
}

.quote-ribbon {
    z-index: 9999 !important
}

.quote-ribbon.Mid {
    z-index: 9999 !important
}

.quote-ribbon.botm {
    z-index: 9999 !important;
}

.breadcrumb_area.breadcrumb3.bgimage.biz_overlay {
}

.bg_image_holder {
}

.container.content_above {
}

.breadcrumb_wrapper.d-flex.flex-column.align-items-center {
}

.page_title {
}

.action-btns.m-top-35 {
}

.d-flex {
}

.btn.m-right-5 {
    background-color: #1175bb;
    color: #fff;
}

.information-box.p-top-140.p-bottom-60 {
}

.information-wrapper {
}

.col-lg-12 {
}

.card.shadow-lg-2.border-0 {
}

.card-header {
}

.m-bottom-0 {
}

.card-body {
}

.col-lg-4 {
}

.la.la-user {
}

.la.la-calendar-check-o {
}

.la.la-tag {
}

.la.la-map-marker {
}

.la.la-clock-o {
}

.la.la-briefcase {
}

.job-contents.p-top-20.p-bottom-65 {
}

.m-top-25 {
}

.bullet--list2 {
}

.bullet_list {
}

.subscribe-seven {
    // background-image: url('../new-map-small.png');
}

.col-lg-8.offset-lg-2 {
    top: 102px;
}

.text-center {
}

.subscribe-form-two.p-left-50.p-right-50 {
}

.btn {
    background-color: white;
}

.card123 {
}

.img-top {
}

.footer6.footer--light-gradient {
}

.footer__big {
}

.col-lg-2.col-md-6.col-sm-6 {
}

.widget.widget--links {
}

.widget__title2 {
}

.links {
}

.widget.text_widget {
}

.footer {
    float: left;
}

.col-lg-4.col-md-6.col-sm-6 {
}

.address {
}

.tel {
}

.footer__bottom.gradient-bg {
    color: white;
    background: linear-gradient(to right,#00549c,#00549c);
}

.footer__bottom-content {
}

.social-basic {
}

.d-flex.justify-content-end {
}

.fab.fa-facebook-f {
    color: #fff;
}

.fab.fa-twitter {
    color: #fff;
}

.fab.fa-instagram {
    color: #fff;
}

.fab.fa-youtube {
    color: #fff;
}

.overlayS {
    display: none;
}

.overlayE {
    display: none;
}

.la.la-close {
}

.modal-dialog.modal-dialog-centered.modal-lg {
}

.modal-content {
}

.modal-header.offset-6-header {
    background: linear-gradient(to right, #101028, #1a75bb);
}

.close {
}

.modal-body {
}

.col-md-6 {
}

.Popup-Left-img {
}

.img-responsive {
}

.m-bottom-30.text-center {
}

.form-group {
}

.form-group.m-bottom-20 {
}

.select-basic1 {
}

.btn.btn--rounded.btn-block {
    background-color: rgb(27, 115, 186);
    border-color: rgb(27, 115, 186);
    color: white;
}

.go_top {
}

.la.la-angle-up {
}