
.education-academy{
    h4 {
        color: #1B76BD;
    }
    .accordion-question{
        text-align: unset;
        // padding-top: 0px;
    }
    .accordion_one{
        background: #fff;
        // padding: 2.5rem !important;
        // padding-top: 1rem !important;
    }
}
.sectionbg {
    background: #f5f7fc;
}