.faqs{
    .divider{
        h3{
            margin-bottom: 1rem;
        }
    }
}

.accordion_one {
    box-shadow: 0 5px 10px rgba(105,106,119,.05);
    background: #fff;
    padding: 2.66667rem;
    border: 1px solid #e4e8ed;
    .accordion_one .accordion-single:first-child, .accordion_two .accordion-single:first-child {
        padding-top: 0;
    }
    .accordion_one .accordion-single, .accordion_two .accordion-single {
        border-bottom: 1px solid #e4e8ed;
    }
    .card-header{
        background: none;
        padding: 0px;
    }
    .accordion .card-body {
        padding: 0.5rem 0rem 1rem;
    }
    .accordion-heading{
        h6{
            font-size: 1rem;
        }
    }
}