
.tabbed-table{
    .nav-item{
        text-align: center;
        margin-bottom: 2rem;
        // margin-top: 3rem;
        display: flex;
        a{
            color: #1176bc;
            // background: #1176bc !important;
            border-color:  #1176bc !important;
            flex-grow: 1;
            height: 4rem;
            padding: 1rem;
            margin: 0px !important;
        }
        a:nth-child(1){
            margin: 0px;
        }
        a:last-child{
            margin: 0px;
        }
        .nav-link.active{
            color: #fff;
            background: #1176bc !important;
            border-color:  #1176bc !important;
        }
    }
    .tab-content-body{
        padding-top: 0px;
        padding-bottom: 0px;
    }
    
}